/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
    color: #333;
}

h1,
h2,
h3 {
    margin: 0;
}

button {
    cursor: pointer;
    border: none;
    border-radius: 5px;
    padding: 8px 12px;
    font-size: 14px;
    transition: background-color 0.3s ease;
}

input {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 8px;
    font-size: 14px;
    width: calc(100% - 20px);
    margin-right: 10px;
}

/* Layout */
.main-container {
    display: flex;
    flex-wrap: wrap;
    height: 100vh;
    overflow-x: hidden;
}

.caller-list-wrapper {
    background-color: #ffffff;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    flex: 1;
    min-width: 250px;
    max-width: 350px;
    padding: 0px;
    overflow-y: auto;
}

.video-call-container {
    flex: 3;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: #eceff1;
}

.video-streams {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    width: 100%;
    height: 60%;
}

.local-video,
.remote-video {
    flex: 1;
    background-color: #000;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    border-radius: 8px;
}

video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
}

/* Caller List */
.caller-list-heading {
    font-size: 1.5rem;
    margin-bottom: 20px;
    text-align: center;
}

.caller-list {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
    max-width: 100%;
}

.caller-list li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
    width: 90%;
}

.call-btn {
    /* background-color: #4caf50; */
    color: white;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px;
    border-radius: 50%;
    width: 36px;
    height: 36px;
    transition: background-color 0.3s ease;
}

.call-disconnect {
    /* background-color: #f44336; */
    padding: 12px;
    border-radius: 50%;
    transition: background-color 0.3s ease;
}

/* Username Input */
.username-input {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    gap: 10px;
}
.username-input button {
    padding: 8px 20px;
    border: 1px solid #333;
    border-radius: 5px;
}

/* Responsive Design */
@media screen and (max-width: 768px) {
    .caller-list-wrapper {
        min-width: 100%;
        max-width: 100%;
    }
    .caller-list li {
        padding: 0;
    }
    .video-call-container {
        padding: 10px;
    }

    .video-streams {
        flex-direction: column;
        height: auto;
    }

    .local-video,
    .remote-video {
        height: 200px;
    }
}

@media screen and (max-width: 480px) {
    input {
        font-size: 12px;
        padding: 6px;
    }

    button {
        font-size: 12px;
        padding: 6px 10px;
    }

    .caller-list-heading {
        font-size: 1.2rem;
    }

    .local-video,
    .remote-video {
        height: 150px;
    }
}
